/* Resetear estilos predeterminados del navegador */
body, h1, p, a {
    margin: 0;
    padding: 0;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

/* Estilo para el encabezado principal */
h1 {
    font-size: 50px;
    color: #333;
    margin-top: 50px;
}

/* Estilo para el contenedor principal */
.contenido-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Estilo para el contenedor de imágenes */
.contenedor-imagenes {
    display: flex;
    justify-content: space-around;
    max-width: 300px;
}

/* Estilo para las imágenes */
.imagen {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

/* Cambiar el tamaño de la imagen al pasar el mouse por encima */
.imagen:hover {
    transform: scale(1.2);
}
